.contact-us-section {
    background-color: #76ABAE;
    color: #fff;
    padding: 60px 20px;
    border-radius: 20px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #50727B;
    border-radius: 5px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #50727B;
}

.submit-button {
    background-color: #6a0dad;
    color: #fff;
    border: none;
    padding: 14px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.submit-button:hover {
    background-color: #4f0a80;
}
