body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.form-popup {
    display: block; /* Ensures the form is visible when rendered */
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 9;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for better visibility */
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
    border-radius: 5px;
}

.form-container .cancel {
    background-color: red;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.form-heading {
    font-size: 2rem; /* Large font size */
    font-weight: bold; /* Bold text */
    color: #000000;
    text-align: center; /* Center align text */
    margin-bottom: 20px; /* Space below the heading */
}

.create-account-text {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.create-account-text a {
    color: #090909; /* Link color */
    text-decoration: none;
}

.create-account-text a:hover {
    text-decoration: underline;
}
